@media screen {
    body {
        text-align: center;
    }
    
    header{
        background-image: url(../estilo/cabecalho.png);
        background-size: cover;
        background-position: top;
        height: 300px;
        color: rgb(255, 255, 255);
        font-size: 300%;
        line-height: 300px;
    }

    section{
    display: flex;
    padding: 20px 0;
    }

    section div{
    flex-basis: 30%;
    margin-top: 10px;
    text-align: center;
   
}

    section img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    mix-blend-mode: multiply;
}
}